[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CCWeights"]
	path = CCWeights
	url = https://github.com/yonghuidong/ccweights
[submodule "MSbox"]
	path = MSbox
	url = https://github.com/yonghuidong/msbox
[submodule "RawHummus"]
	path = RawHummus
	url = https://github.com/yonghuidong/rawhummus
